.recomend{
  width:560px;
}
.recomend li{
  display: inline-block;
  vertical-align: top;
  width:170px;
  margin-right:15px;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.recomend li:nth-child(3){
  margin-right:0;
}

.imgP img{
  width: 170px;
  height: 100px;
  overflow: hidden;
}
